<% if current_user %>
  <h1 class="cover-heading"><strong><%= t '.main_page_title' %>, <%= current_user.email %></strong></h1>
  <p class="lead">Test</p>
  <p class="lead">
    <%= link_to t('.main_page_button'), works_path, class: "btn btn-lg btn-secondary" %>
  </p>
<% else %>
  <p class="lead">Test</p>
  <p class="lead">
    <%= link_to t('global.header.sign_up'), login_path, class: "btn btn-lg btn-secondary" %>
  </p>
<% end %>