<div class='form_select'>
  <%= form_with scope: :post, url: display_theme_path do %>
    <%= select_tag :theme, options_for_select(@themes, selected: @selected_theme), prompt: t('themes.theme_name'), :onchange => "this.form.submit();" %>
  <% end %>
</div>

